@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAF9F6;
  --foreground: #2D2D2D;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
